Repository vexxhost/capo-image-elements: changes, and which Zuul jobs are due for each by the changed paths.
All: capo-image-elements-build-rockylinux-9-kubernetes-1-27-15, capo-image-elements-build-rockylinux-9-kubernetes-1-28-11, capo-image-elements-build-rockylinux-9-kubernetes-1-29-6, capo-image-elements-build-rockylinux-9-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2

capo-image-elements-build-rockylinux-9-kubernetes-1-27-15:
  nodeset:
    nodes:
    - label: jammy-4c-16g
      name: ubuntu-jammy
  pre-run: playbooks/build/pre.yaml
  run: playbooks/build/run.yaml
  vars:
    os: rockylinux
    release: '9'
    script: 1-27-15.sh

capo-image-elements-build-rockylinux-9-kubernetes-1-28-11:
  nodeset:
    nodes:
    - label: jammy-4c-16g
      name: ubuntu-jammy
  pre-run: playbooks/build/pre.yaml
  run: playbooks/build/run.yaml
  vars:
    os: rockylinux
    release: '9'
    script: 1-28-11.sh

capo-image-elements-build-rockylinux-9-kubernetes-1-29-6:
  nodeset:
    nodes:
    - label: jammy-4c-16g
      name: ubuntu-jammy
  pre-run: playbooks/build/pre.yaml
  run: playbooks/build/run.yaml
  vars:
    os: rockylinux
    release: '9'
    script: 1-29-6.sh

capo-image-elements-build-rockylinux-9-kubernetes-1-30-2:
  nodeset:
    nodes:
    - label: jammy-4c-16g
      name: ubuntu-jammy
  pre-run: playbooks/build/pre.yaml
  run: playbooks/build/run.yaml
  vars:
    os: rockylinux
    release: '9'
    script: 1-30-2.sh

capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15:
  nodeset:
    nodes:
    - label: jammy-4c-16g
      name: ubuntu-jammy
  pre-run: playbooks/build/pre.yaml
  run: playbooks/build/run.yaml
  vars:
    os: ubuntu
    release: jammy
    script: 1-27-15.sh

capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11:
  nodeset:
    nodes:
    - label: jammy-4c-16g
      name: ubuntu-jammy
  pre-run: playbooks/build/pre.yaml
  run: playbooks/build/run.yaml
  vars:
    os: ubuntu
    release: jammy
    script: 1-28-11.sh

capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6:
  nodeset:
    nodes:
    - label: jammy-4c-16g
      name: ubuntu-jammy
  pre-run: playbooks/build/pre.yaml
  run: playbooks/build/run.yaml
  vars:
    os: ubuntu
    release: jammy
    script: 1-29-6.sh

capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2:
  nodeset:
    nodes:
    - label: jammy-4c-16g
      name: ubuntu-jammy
  pre-run: playbooks/build/pre.yaml
  run: playbooks/build/run.yaml
  vars:
    os: ubuntu
    release: jammy
    script: 1-30-2.sh

Fix Docker installation
  playbooks/build/pre.yaml
Due: none

Use podman instead for Rockylinux
  playbooks/build/pre.yaml
Due: none

Disable rockylinux jobs for now
  ci/build-jobs.py
  zuul.d/build-jobs.yaml
Due: none

Use local cloud images mirror
  playbooks/build/run.yaml
Due: none

Fix mirror URL
  playbooks/build/run.yaml
Due: none

Remove extra trailing slash
  playbooks/build/run.yaml
Due: none

Add upload jobs
  ci/build-jobs.py
  playbooks/build/post.yaml
  zuul.d/build-jobs.yaml
Due: none

Add missing user from post
  playbooks/build/post.yaml
Due: none

Fix SCP command
  playbooks/build/post.yaml
Due: none

Keep /opt/cni/bin as root
  elements/cni-plugins/install.d/70-cni-plugins
Due: none

Force image rebuild
  images/ubuntu/jammy/1-27-15.sh
  images/ubuntu/jammy/1-28-11.sh
  images/ubuntu/jammy/1-29-6.sh
  images/ubuntu/jammy/1-30-2.sh
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2

Add Rocky build jobs
  ci/build-jobs.py
  elements/kubernetes/post-install.d/75-kubeadm-pull
  zuul.d/build-jobs.yaml
Due: none

Remove troubleshooting commadn
  elements/kubernetes/post-install.d/75-kubeadm-pull
Due: none

Added LimitNOFILE
  elements/containerd/install.d/70-containerd
Due: none

Add missing folder
  elements/containerd/install.d/70-containerd
Due: none

Add more changes
  elements/containerd/install.d/70-containerd
  elements/kubelet/install.d/70-kubelet
  images/rockylinux/9/1-27-15.sh
  images/rockylinux/9/1-28-11.sh
  images/rockylinux/9/1-29-6.sh
  images/rockylinux/9/1-30-2.sh
Due: capo-image-elements-build-rockylinux-9-kubernetes-1-27-15, capo-image-elements-build-rockylinux-9-kubernetes-1-28-11, capo-image-elements-build-rockylinux-9-kubernetes-1-29-6, capo-image-elements-build-rockylinux-9-kubernetes-1-30-2

Add SSH hardening
  elements/kubernetes/post-install.d/75-sshd-hardening
  elements/kubernetes/post-install.d/80-kubeadm-pull
Due: none

Fix SSH hardening
  elements/kubernetes/post-install.d/75-sshd-hardening
Due: none

Return link to Zuul artifact
  playbooks/build/post.yaml
Due: none

Build images on Element changes
  ci/build-jobs.py
  zuul.d/build-jobs.yaml
Due: none

Fix build jobs
  ci/build-jobs.py
  zuul.d/build-jobs.yaml
Due: none

Add NFS utils support in kubernet images
  elements/kubernetes/package-installs.yaml
  elements/kubernetes/pkg-map
Due: none

feat: rockyfize
  ci/build-jobs.py
  elements/cni-plugins/package-installs.yaml
  elements/containerd/install.d/70-containerd
  elements/kubelet/install.d/70-kubelet
  elements/kubelet/pkg-map
  images/rockylinux/9/1-27-15.sh
  images/rockylinux/9/1-28-11.sh
  images/rockylinux/9/1-29-6.sh
  images/rockylinux/9/1-30-2.sh
  zuul.d/build-jobs.yaml
Due: capo-image-elements-build-rockylinux-9-kubernetes-1-27-15, capo-image-elements-build-rockylinux-9-kubernetes-1-28-11, capo-image-elements-build-rockylinux-9-kubernetes-1-29-6, capo-image-elements-build-rockylinux-9-kubernetes-1-30-2

support 1.31.1 ubuntu jammy image
  images/ubuntu/jammy/1-31-1.sh
  zuul.d/build-jobs.yaml
Due: none

Apply suggestions from code review
  zuul.d/build-jobs.yaml
Due: none

feat: add findings
  elements/cloud-init-configs/element-deps
  elements/cloud-init-configs/static/etc/cloud/cloud.cfg.d/05_logging.cfg
  elements/cloud-init-configs/static/etc/systemd/system/cloud-config.service.d/boot-order.conf
  elements/cloud-init-configs/static/etc/systemd/system/cloud-final.service.d/boot-order.conf
  elements/cni-plugins/static/etc/modules-load.d/k8s.conf
  elements/containerd/package-installs.yaml
  elements/containerd/pkg-map
  elements/kubelet/install.d/70-kubelet
  elements/kubernetes/element-deps
  images/rockylinux/9/1-30-2.sh
Due: capo-image-elements-build-rockylinux-9-kubernetes-1-30-2

Fixed build error where systemctl enable containerd/kubelet would throw exception - service does not exist.
  elements/containerd/element-deps
Due: none

feat: support uefi
  images/rockylinux/9/1-27-15.sh
  images/rockylinux/9/1-28-11.sh
  images/rockylinux/9/1-29-6.sh
  images/rockylinux/9/1-30-2.sh
  images/ubuntu/jammy/1-27-15.sh
  images/ubuntu/jammy/1-28-11.sh
  images/ubuntu/jammy/1-29-6.sh
  images/ubuntu/jammy/1-30-2.sh
  images/ubuntu/jammy/1-31-1.sh
Due: capo-image-elements-build-rockylinux-9-kubernetes-1-27-15, capo-image-elements-build-rockylinux-9-kubernetes-1-28-11, capo-image-elements-build-rockylinux-9-kubernetes-1-29-6, capo-image-elements-build-rockylinux-9-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2

support BIOS and UEFI boot at same time for images
  images/rockylinux/9/1-27-15.sh
  images/rockylinux/9/1-28-11.sh
  images/rockylinux/9/1-29-6.sh
  images/rockylinux/9/1-30-2.sh
  images/ubuntu/jammy/1-27-15.sh
  images/ubuntu/jammy/1-28-11.sh
  images/ubuntu/jammy/1-29-6.sh
  images/ubuntu/jammy/1-30-2.sh
  images/ubuntu/jammy/1-31-1.sh
Due: capo-image-elements-build-rockylinux-9-kubernetes-1-27-15, capo-image-elements-build-rockylinux-9-kubernetes-1-28-11, capo-image-elements-build-rockylinux-9-kubernetes-1-29-6, capo-image-elements-build-rockylinux-9-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2

feat: finalize changes
  elements/cloud-init-configs/element-deps
  elements/cloud-init-configs/static/etc/cloud/cloud.cfg.d/05_logging.cfg
  elements/cloud-init-configs/static/etc/systemd/system/cloud-config.service.d/boot-order.conf
  elements/cloud-init-configs/static/etc/systemd/system/cloud-final.service.d/boot-order.conf
  elements/cni-plugins/package-installs.yaml
  elements/cni-plugins/static/etc/modules-load.d/k8s.conf
  elements/containerd/package-installs.yaml
  elements/containerd/pkg-map
  elements/kubelet/install.d/70-kubelet
  elements/kubelet/package-installs.yaml
  elements/kubelet/pkg-map
  elements/kubernetes/element-deps
  elements/kubernetes/package-installs.yaml
  elements/kubernetes/pkg-map
  elements/pkgs-deb/package-installs.yaml
  elements/pkgs-rpm/package-installs.yaml
  images/rockylinux/9/1-27-15.sh
  images/rockylinux/9/1-28-11.sh
  images/rockylinux/9/1-30-2.sh
  images/rockylinux/9/1-31-1.sh
  images/ubuntu/jammy/1-27-15.sh
  images/ubuntu/jammy/1-28-11.sh
  images/ubuntu/jammy/1-29-6.sh
  images/ubuntu/jammy/1-30-2.sh
  images/ubuntu/jammy/1-31-1.sh
  zuul.d/build-jobs.yaml
Due: capo-image-elements-build-rockylinux-9-kubernetes-1-27-15, capo-image-elements-build-rockylinux-9-kubernetes-1-28-11, capo-image-elements-build-rockylinux-9-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2

fix: add missing dib for old k8s versions
  images/rockylinux/9/1-27-15.sh
  images/rockylinux/9/1-28-11.sh
  images/rockylinux/9/1-29-6.sh
Due: capo-image-elements-build-rockylinux-9-kubernetes-1-27-15, capo-image-elements-build-rockylinux-9-kubernetes-1-28-11, capo-image-elements-build-rockylinux-9-kubernetes-1-29-6

Switch to GHA
  .github/workflows/ci.yaml
  pyproject.toml
  uv.lock
  zuul.d/build-jobs.yaml
Due: none

Fix cache
  .github/workflows/ci.yaml
Due: none

Fix cache + add matrix
  .github/workflows/ci.yaml
Due: none

Disable EL9
  .github/workflows/ci.yaml
Due: none

Add DIB_MIN_TMPFS
  .github/workflows/ci.yaml
Due: none

Hard-code cache path
  .github/workflows/ci.yaml
Due: none

Upload artifact to GHA
  .github/workflows/ci.yaml
Due: none

Path conditions:
  capo-image-elements-build-rockylinux-9-kubernetes-1-27-15: any of: images/rockylinux/9/1-27-15.sh
  capo-image-elements-build-rockylinux-9-kubernetes-1-28-11: any of: images/rockylinux/9/1-28-11.sh
  capo-image-elements-build-rockylinux-9-kubernetes-1-29-6: any of: images/rockylinux/9/1-29-6.sh
  capo-image-elements-build-rockylinux-9-kubernetes-1-30-2: any of: images/rockylinux/9/1-30-2.sh
  capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15: any of: images/ubuntu/jammy/1-27-15.sh
  capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11: any of: images/ubuntu/jammy/1-28-11.sh
  capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6: any of: images/ubuntu/jammy/1-29-6.sh
  capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2: any of: images/ubuntu/jammy/1-30-2.sh
