Repository vexxhost/capo-image-elements: changes, and which Zuul jobs are due for each by the changed paths.
All: capo-image-elements-build-rockylinux-9-kubernetes-1-27-15, capo-image-elements-promote-rockylinux-9-kubernetes-1-27-15, capo-image-elements-build-rockylinux-9-kubernetes-1-28-11, capo-image-elements-promote-rockylinux-9-kubernetes-1-28-11, capo-image-elements-build-rockylinux-9-kubernetes-1-29-6, capo-image-elements-promote-rockylinux-9-kubernetes-1-29-6, capo-image-elements-build-rockylinux-9-kubernetes-1-30-2, capo-image-elements-promote-rockylinux-9-kubernetes-1-30-2, capo-image-elements-build-rockylinux-9-kubernetes-1-31-1, capo-image-elements-promote-rockylinux-9-kubernetes-1-31-1, capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Path conditions:
  capo-image-elements-build-rockylinux-9-kubernetes-1-27-15: any of: images/rockylinux/9/1-27-15.sh
  capo-image-elements-promote-rockylinux-9-kubernetes-1-27-15: any of: images/rockylinux/9/1-27-15.sh
  capo-image-elements-build-rockylinux-9-kubernetes-1-28-11: any of: images/rockylinux/9/1-28-11.sh
  capo-image-elements-promote-rockylinux-9-kubernetes-1-28-11: any of: images/rockylinux/9/1-28-11.sh
  capo-image-elements-build-rockylinux-9-kubernetes-1-29-6: any of: images/rockylinux/9/1-29-6.sh
  capo-image-elements-promote-rockylinux-9-kubernetes-1-29-6: any of: images/rockylinux/9/1-29-6.sh
  capo-image-elements-build-rockylinux-9-kubernetes-1-30-2: any of: images/rockylinux/9/1-30-2.sh
  capo-image-elements-promote-rockylinux-9-kubernetes-1-30-2: any of: images/rockylinux/9/1-30-2.sh
  capo-image-elements-build-rockylinux-9-kubernetes-1-31-1: any of: images/rockylinux/9/1-31-1.sh
  capo-image-elements-promote-rockylinux-9-kubernetes-1-31-1: any of: images/rockylinux/9/1-31-1.sh
  capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15: any of: ^elements/, images/ubuntu/jammy/1-27-15.sh
  capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15: any of: ^elements/, images/ubuntu/jammy/1-27-15.sh
  capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11: any of: ^elements/, images/ubuntu/jammy/1-28-11.sh
  capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11: any of: ^elements/, images/ubuntu/jammy/1-28-11.sh
  capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6: any of: ^elements/, images/ubuntu/jammy/1-29-6.sh
  capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6: any of: ^elements/, images/ubuntu/jammy/1-29-6.sh
  capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2: any of: ^elements/, images/ubuntu/jammy/1-30-2.sh
  capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2: any of: ^elements/, images/ubuntu/jammy/1-30-2.sh
  capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1: any of: ^elements/, images/ubuntu/jammy/1-31-1.sh
  capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1: any of: ^elements/, images/ubuntu/jammy/1-31-1.sh

Cleanup + add Rocky
  .github/workflows/ci.yaml
  ci/build-jobs.py
  images/rockylinux/9/1-27-15.sh
  images/rockylinux/9/1-28-11.sh
  images/rockylinux/9/1-29-6.sh
  images/rockylinux/9/1-30-2.sh
  images/ubuntu/jammy/1-27-15.sh
  images/ubuntu/jammy/1-28-11.sh
  images/ubuntu/jammy/1-29-6.sh
  images/ubuntu/jammy/1-30-2.sh
  images/ubuntu/jammy/1-31-1.sh
  playbooks/build/post.yaml
  playbooks/build/pre.yaml
  playbooks/build/run.yaml
  zuul.d/build-jobs.yaml
Due: capo-image-elements-build-rockylinux-9-kubernetes-1-27-15, capo-image-elements-promote-rockylinux-9-kubernetes-1-27-15, capo-image-elements-build-rockylinux-9-kubernetes-1-28-11, capo-image-elements-promote-rockylinux-9-kubernetes-1-28-11, capo-image-elements-build-rockylinux-9-kubernetes-1-29-6, capo-image-elements-promote-rockylinux-9-kubernetes-1-29-6, capo-image-elements-build-rockylinux-9-kubernetes-1-30-2, capo-image-elements-promote-rockylinux-9-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Fix cache path
  .github/workflows/ci.yaml
Due: none

Attempt to fix cache for Ubuntu
  .github/workflows/ci.yaml
Due: none

Fix if statement
  .github/workflows/ci.yaml
Due: none

GHA wants single quotes?
  .github/workflows/ci.yaml
Due: none

Refactor conntrack
  elements/kubelet/package-installs.yaml
  elements/kubelet/pkg-map
  elements/pkgs-deb/package-installs.yaml
  elements/pkgs-rpm/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Refactor coreutils
  elements/kubelet/package-installs.yaml
  elements/pkgs-deb/package-installs.yaml
  elements/pkgs-rpm/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Refactor ethtool
  elements/kubelet/package-installs.yaml
  elements/pkgs-deb/package-installs.yaml
  elements/pkgs-rpm/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Refactor iproute2
  elements/kubelet/package-installs.yaml
  elements/kubelet/pkg-map
  elements/pkgs-deb/package-installs.yaml
  elements/pkgs-rpm/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Add mount
  elements/kubelet/package-installs.yaml
  elements/kubelet/pkg-map
  elements/pkgs-deb/package-installs.yaml
  elements/pkgs-rpm/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Refactor socat
  elements/kubelet/package-installs.yaml
  elements/pkgs-deb/package-installs.yaml
  elements/pkgs-rpm/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Drop curl since it's already installed
  elements/pkgs-deb/package-installs.yaml
  elements/pkgs-rpm/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Restore kmod
  elements/cni-plugins/package-installs.yaml
  elements/pkgs-deb/package-installs.yaml
  elements/pkgs-rpm/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Restore nfs-common
  elements/kubernetes/package-installs.yaml
  elements/kubernetes/pkg-map
  elements/pkgs-deb/package-installs.yaml
  elements/pkgs-rpm/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Replace coreutils by posix element
  elements/kubelet/element-deps
  elements/kubelet/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Refactor iputils
  elements/cni-plugins/package-installs.yaml
  elements/cni-plugins/pkg-map
  elements/pkgs-deb/package-installs.yaml
  elements/pkgs-rpm/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Refactor libseccomp
  elements/containerd/package-installs.yaml
  elements/containerd/pkg-map
  elements/pkgs-deb/package-installs.yaml
  elements/pkgs-rpm/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Revert "Replace coreutils by posix element"
  elements/kubelet/element-deps
  elements/kubelet/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Refactor out pkg-deb
  .github/workflows/ci.yaml
  elements/cni-plugins/package-installs.yaml
  elements/kubelet/package-installs.yaml
  elements/pkgs-deb/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Always run cloud-init-growpart
  .github/workflows/ci.yaml
  elements/kubernetes/element-deps
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Always run cloud-init
  .github/workflows/ci.yaml
  elements/kubernetes/element-deps
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

epel is noop on unsupported systems
  .github/workflows/ci.yaml
  elements/kubernetes/element-deps
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Refactor iputils
  elements/cni-plugins/package-installs.yaml
  elements/cni-plugins/pkg-map
  elements/pkgs-rpm/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

util-linux requires util-linux-core
  elements/pkgs-rpm/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

selinux-policy-targeted requires selinux-policy
  elements/pkgs-rpm/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Refactor chrony
  elements/kubelet/package-installs.yaml
  elements/pkgs-rpm/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Remove extra file
  images/rockylinux/9/1-31-1.sh
Due: capo-image-elements-build-rockylinux-9-kubernetes-1-31-1, capo-image-elements-promote-rockylinux-9-kubernetes-1-31-1

Refactor audit
  elements/kubelet/package-installs.yaml
  elements/pkgs-rpm/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Refactor out pkgs-rpm
  .github/workflows/ci.yaml
  elements/kubernetes/package-installs.yaml
  elements/pkgs-rpm/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

drop jq since its is used in goss testing
  elements/kubernetes/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Drop qemu-guest-agent
  elements/kubernetes/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Hack around selinx-permissive element
  .github/workflows/ci.yaml
  elements/kubelet/install.d/70-kubelet
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

`audit` gets pulled in via Minimal Install in rocky-container
  elements/kubelet/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Attempt to fix `when`
  elements/cni-plugins/package-installs.yaml
  elements/kubelet/package-installs.yaml
  elements/kubernetes/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Fix conditions for single equal
  elements/cni-plugins/package-installs.yaml
  elements/kubelet/package-installs.yaml
  elements/kubernetes/package-installs.yaml
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

add: containerd v2 comment
  elements/containerd/install.d/70-containerd
Due: capo-image-elements-build-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-27-15, capo-image-elements-build-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-28-11, capo-image-elements-build-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-29-6, capo-image-elements-build-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-30-2, capo-image-elements-build-ubuntu-jammy-kubernetes-1-31-1, capo-image-elements-promote-ubuntu-jammy-kubernetes-1-31-1

Update matrix values, add step to upload artifact to release
  .github/workflows/ci.yaml
Due: none

Update ci.yaml
  .github/workflows/ci.yaml
Due: none

ci: add dispatch trigger
  .github/workflows/ci.yaml
Due: none
